In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import numpy as np # linear algebra
import pandas as pd # data processing
import matplotlib.pyplot as plt
import seaborn as sns
# Input data files are available in the "../input/" directory.
import os

In [4]:
movents=pd.read_excel('/content/drive/MyDrive/Colab Notebooks/Tetramestre 4/Business Inteligence/Clase 2. Modelo de Negocios-2023-01-17 - Caso de Uso 1/ClientMovements Cleaned.xlsx')

In [5]:
movents.head(10)

   ClientID MOVEMENT  BALANCE_IN  BALANCE_OUT  AGENT.ID  NUM_MOVEMENTS
0    689564       in   219730.34         0.00     14472              3
1    689564      out        0.00    257966.90     14472              3
2    689564       in   316953.96         0.00     14739              3
3    688806       in   765307.58         0.00     11088              3
4    688806      out        0.00    800351.57     11088              3
5    688806       in   895893.53         0.00     20257              3
6    688749      out        0.00    313510.75     14676              3
7    688749       in   443619.36         0.00     26543              3
8    688749      out        0.00    443457.30     26543              3
9    688351      out        0.00    138301.19     19536              3

In [17]:
movents.groupby(['ClientID'])['ClientID'].count()

ClientID
641       3
732       3
1008      3
1450      3
1988      3
         ..
687784    3
688351    3
688749    3
688806    3
689564    3
Name: ClientID, Length: 1621, dtype: int64